html {
  display: flex;
  height: 100%;
  background-color: #F1E9EA;
}

body{
  margin: auto;
  width: 100%;
}

.App{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}


.todo-list{
  background: white;
  font-size: 20px;
  margin: auto;
  margin-bottom: 25px;
  max-width: 400px;
  padding: 8px 16px;
  box-shadow: 0 5px 10px rgba($color: #3f3e3e, $alpha: 1.0);
}

$colorAzul:#03A9F4;
$colorAzulHover:#1976D2;

@mixin button ($class, $color, $colorHover)  {

  .button#{$class}{background: $color;}
  .button#{$class}:hover{background: $colorHover;}
  .button#{$class}:active{background: $color;}
  
}

.button{
  outline: none;
  padding: 8px;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 10px;
  color: #B2A198;
  font-size: 20px;
}

@include button ('blue', $colorAzul, $colorAzulHover);

.file_input{
  padding: 2px;
  background: #FAFAFA;
}

.file_input > .text {
  outline: none;
  padding: 0px 10px;
  font-size: 20px;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid;
  border-radius: 15px;
}

$duracion: 0.4s;
$stroke: #00ff0d;
$colorText: #B2A198;
$colorTextChecked: #02d67e;




.todo{
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #03A9F4;
  &:last-child{border-bottom: none;}
}
.todo.new-item{
  opacity: 0;
  transform: translateX(100px);
  animation: fadeIn .3s linear forwards;
}
@keyframes fadeIn {
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

.todo_state{
  position: absolute;
  top: center;
  left: 0;
  //opacity: 0; --- esconder checkbox

}

.todo_text{
  color: $colorText;
  text-align: right;
  transition: all $duracion/2 linear &$duracion/2;
}

.todo_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: auto;
  margin: auto;
  padding: 10px;

  fill: none;
  stroke: $stroke;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.todo_line, .todo_box, .todo_check {
  transition: stroke-dashoffset $duracion cubic-bezier(0.075, 0.82, 0.165, 1)
}


